<!DOCTYPE html>
<html lang="en" ng-app="ListaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Telefonica</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="js/angular.min.js"></script>
    <script src="js/controllers/ListaTelefonicaCtrl.js"></script>
    <script src="js/controllers/services/contatosAPIService.js"></script>
    <script src="js/controllers/services/operadorasAPIService.js"></script>
    <script src="js/value/configValue.js"></script>
    <script src="js/controllers/services/serialGeneratorService.js"></script>
    <script src="js/filters/nameFilter.js"></script>
    <script src="js/filters/ellipsisFilter.js"></script>
    <script src="js/directives/uiAlertDirective.js"></script>


</head>
<body ng-controller="ListaTelefonicaCtrl">

    <div class = "jumbotron">
        <h1>{{app}}</h1>  
        <ui-alert title="msg" message="error"></ui-alert>
        <hr>
        <input type="text" class="form-control" ng-model="criterioBusca" placeholder="O que está buscando?"> 
        <table class="table">
            <tr> 
                <th></th>
                <th>Serial</th>
                <th>Nome:</th>
                <th>Telefone:</th>
                <th>Operadoras:</th>
                <th>Data:</th>
            </tr>
            <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter: criterioBusca">
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.serial}}</td>
                <td>{{contato.nome | name | ellipsis:10}}</td>
                <td>{{contato.Telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td>{{contato.date | date: 'dd/MM/yyyy HH:mm'}}</td>        
            </tr>
        </table>
        <hr>
        <form name="contatoForm">
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" ng-required="true">
        <input class="form-control" type="text" ng-model="contato.Telefone" placeholder="Telefone" ng-required="true">
        <select class="form-control" ng-model="contato.operadora" ng-options=" operadora.nome + ' ( ' + (operadora.preco | currency) + ' ) ' for operadora in operadoras" ng-required="true">
            <option value="">Selecione uma operadora</option>
        </select>
        <div class="alert alert-danger" ng-show="contatoForm.$invalid">
            Por favor, preencha todos os campos!
        </div>
        </form>
        <button ng-click="adicionarContato(contato)" class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
        <button ng-click="apagarContatos(contatos)" class="btn btn-danger btn-block" ng-disabled="!isContatoSelecionado(contatos)">Deletar Contato</button>
    </div>
</body>
</html>